---
---

@import "minimal-mistakes/skins/softpath"; // loads your custom skin
@import "minimal-mistakes";                // loads the base theme
@import "custom";                          // loads custom softpath styles